{% extends "mainsite/index.html" %}

{% block body %}

<div class="section">
    {% if messages %}
    <div class="row">
        <ul>
            {% for msg in messages %}
                <li>{{ msg }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}


    {% block content %}
    {% endblock %}


</div>

{% endblock %}