{% extends "account/base.html" %}

{% load i18n %}
{% load socialaccount %}

{% block content %}


<div class="row">
    <div class="col s4 offset-s4">
        <h1>{% trans "Sign in" %}</h1>

        {% get_providers as socialaccount_providers %}

        {% if socialaccount_providers %}
        <p>{% blocktrans with site.name as site_name %}Please sign in with one
            of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
            for a {{ site_name }} account and sign in below:
            {% endblocktrans %}
        </p>

        <div class="socialaccount_ballot">

            <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>

            <div class="login-or">{% trans 'or' %}</div>

        </div>

        {% include "socialaccount/snippets/login_extra.html" %}

        {% else %}
        <p>{% blocktrans %}If you have not created an account yet,
            then please <a href="{{ signup_url }}">sign up</a> first.
            {% endblocktrans %}
        </p>
        {% endif %}

    </div>
</div>


<div class="row">
    <form class="col s4 offset-s4 login" method="post" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <a href="{% url 'account_reset_password' %}" class="btn left button secondaryAction">{% trans "Forgot Password?" %}<a>
        <button class="btn waves-effect waves-light right primaryAction" type="submit">{% trans "Sign In" %} &raquo;</button>
    </form>
</div>


{% endblock %}