{% extends "mainsite/index.html" %}

{% load i18n %}
{% load socialaccount %}

{% block content %}

<div class="row">
    <div class="col s4 offset-s4">
        <h1>Hello, {{ user }}</h1>
        <div class="row">
            <div class="col s6">
                <a href="{% url 'ingredient_new' %}" class="btn left">New Ingredient</a>
            </div>
            <div class="col s6">
                <a href="{% url 'recipe_new' %}" class="btn right">New Recipe</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}