{% extends "account/base.html" %}

{% load i18n %}
{% load socialaccount %}

{% block content %}


<div class="row">
    <div class="col s4 offset-s4">
        <h1>{% trans "Sign up" %}</h1>
        <p>{% blocktrans %}
            Already have an account? Then please <a href="{{ login_url }}">sign in.</a>
            {% endblocktrans %}
        </p>
    </div>
</div>


<div class="row">
    <form class="col s4 offset-s4 signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn waves-effect waves-light left col s4" type="submit">{% trans "Sign Up" %} &raquo;</button>
        <p class="center col s3">OR</p>
        <a href="{% provider_login_url 'google' %}" class="btn col s5">Log in with Google</a>
    </form>
</div>


{% endblock %}