{% extends "mainsite/base.html" %}


{% block content %}
<div class="row">
    <div class="col s6 offset-s3">
        <h3>What are you looking for?</h3>
    </div>
</div>

<div class="row">


    <form>
        <div class="row">
            <div class="col s2 offset-s4">
                <p>
                    <label>
                        <input name="group1" type="radio" checked />
                        <span>Recipe</span>
                    </label>
                </p>
            </div>
            <div class="col s2">
                <p>
                    <label>
                        <input name="group1" type="radio" />
                        <span>Food</span>
                    </label>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s6 offset-s3">
                <div class="input-field">
                    <i class="material-icons prefix">search</i>
                    <input id="search" type="search">
                    <label for="search">Search</label>
                </div>
            </div>
        </div>
    </form>

</div>

{% endblock %}
