{% extends "mainsite/base.html" %}

{% block body %}

{% block navbar %}

    {% include "mainsite/navbar.html" %}

{% endblock %}
<div class="container">
{% block content %}

{% load socialaccount %}

{% if user.is_authenticated %}
<p>Hello {{ user.username }}</p>
<p><a href="{% url 'account_logout' %}">Log out</a></p>
{% else %}
<p><a href="{% url 'account_signup' %}">Sign up</a></p>
<p><a href="{% url 'account_login' %}">Log in</a></p>
<p><a href="{% provider_login_url 'google' %}">Log in with Gmail</a></p>
{% endif %}

{% endblock %}
</div>
{% endblock %}