{% load account %}
{% load socialaccount %}

<nav>
    <div class="nav-wrapper">
        <a href="{% url 'index' %}" class="brand-logo">Humbleplate</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}">{{ user }}</a></li>
                <li><a href="{% url 'account_logout' %}">Log out</a></li>
            {% else %}
                <li><a href="{% url 'account_signup' %}">Register</a></li>
                <li><a href="{% url 'account_login' %}">Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>