{% extends "mainsite/index.html" %}

{% block content %}

<div class="row">
    <form class="col s4 offset-s4" id="ingredient" method="post" action="{% url 'recipe_new' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn right" type="submit">Create</button>
    </form>
</div>

{% endblock %}